*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/interiorimage5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    height: 70px;
    width: 100%;
    background: lightcoral;
    padding: 0 20px;
}

.header img{
	width: 66px;
	height: 70px;
    filter: drop-shadow(1px 1px 3px #000);
    float: left;
    background:0009;
}

.header .menu{
    list-style: none;
    float: right;
    text-decoration: none;

}
.menu li{
    display: inline-block;
    line-height: 70px;
}
.menu li a{
    padding: 0 20px;
    text-decoration: none;
    color:black;
    font-size: 20px;
    transition: .4s;
}
.menu li a:hover,.show-btn:hover, .hide-btn:hover{
    color: blue;

}
.show-btn, .hide-btn{
    font-size: 30px;
    color: black;
    line-height: 70px;
    display: none;
}
.show-btn{
    float: right;

}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -10;
}
@media(max-width: 800px){
    .show-btn, .hide-btn
    {display: block;}
    .menu{
        position: fixed;
        z-index: 1;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        text-align: center;
        padding: 80px 0;
        transition: .7s;
        line-height: normal;
    }
    #chk:checked ~ .menu
    {
        right: 0;

    }
    .menu li{
        display: block;
    }
    .menu li a{
        display: block;
    }
    .hide-btn{
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .content h1{
        height: 100px;
        width: 200px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }
    .btn{
        display: center;
        padding: 5px 12px;
        font-weight: lighter;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 100px;
        transition: background-color 0.2s,border 0.2s,color 0.2s;
        text-align: center;
    }
    
}
.content h1{
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
.btn{
    display: center;
    padding: 10px 24px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
    text-align: center;
}
.btn-full{
    background-color: transparent;
    color:orangered;
    margin: 15px;
    border: 1px solid orangered ;
}
.btn-full:hover{
    background-color: blue;


}
.btn-nav{
    background-color: transparent;
    color:orangered;
    margin-right: 15px;
    border: 1px solid orangered;
}
.btn-nav:hover{
    background-color: blue;
}
.colorchange{
    animation:colorchangefunterior 1s infinite;
}
@keyframes colorchangefunterior{
    0%{color: green;}
    25%{color:blue;}
    50%{color:red;}
    100%{color:yellow;}
}
@media(max-width: 560px){
    
    .content h1{
        height: 80px;
        width: 160px;
        position: fixed;
        top: 25%;
        left: 25%;
        margin-top: -50px;
        margin-left: -100px;
    }
    .btn{
        display: center;
        padding: 4px 8px;
        font-weight: lighter;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 50px;
        transition: background-color 0.2s,border 0.2s,color 0.2s;
        text-align: center;
    }
    .btn-full{
        background-color: transparent;
        color:orangered;
        margin-top: 5px;
        border: 1px solid orangered ;
        font-size: 20px;
    }
    .btn-full:hover{
        background-color: blue;
    
    
    }
    .btn-nav{
        background-color: transparent;
        color:orangered;
        margin-top: 5px;
        border: 1px solid orangered;
        font-size: 20px;
    }
    .btn-nav:hover{
        background-color: blue;
    }
    .colorchange{
        animation:colorchangefunterior 1s infinite;
    }
    @keyframes colorchangefunterior{
        0%{color: green;}
        25%{color:blue;}
        50%{color:red;}
        100%{color:yellow;}
    }


}
